
#mirage, #train, #cache, #inferno, #nuke, #cobblestone, #overpass, #dust2  {

    
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    padding: 25px;
    margin: 25px;
    outline-style:solid;
    outline-color: black;
    text-align: center;
    display: table;
    font-size: 12px;

}
#maps {
    max-width: 400px; 
    max-height: 1000px;
    margin-top: -1100px;
    display: inline-block;
    position: absolute;
}

#bigMap {

    min-height:1000px; 
    min-width:1000px;
    border: 2px solid gray;
    padding: 25px;
    margin:25px;
    margin-left: 470px;
    display: inline-block;
  
    
}




img {
    max-height: 200px;
   max-width: 200px;

}
