
#mirage, #train, #cache, #inferno, #nuke, #cobblestone, #overpass, #dust2  {

    
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    padding: 25px;
    margin: 25px;
    outline-style:solid;
    outline-color: black;
    text-align: center;
    display: table;
    font-size: 12px;




}

img {
    height: 200px;
    width: 200px;
}
