body{
	background-color: red;
}

h1{
	color: white;
	text-align: center;
	font-size: 75px;
}

h2{
	color: white;
}

div{
	background-color: grey;
	border: 2px solid black;
	padding: 150px;
	margin: 150px;
	height: 300px;

}

#tilbage{
	margin-right: 1445px;
}